<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

	<title>Flask Project UI</title>
</head>
<body>
	<header>
		<h1> DASHBOARD TRADING</h1>
	</header>

	<main>
		<h2>Parameter</h2><br>

		<section id='popup' class="wrapperPopup">
			<div class='input'>
				<form action="/" method="POST">
					<h3>INPUT PARAMETER</h3>
					<p>Lot</p>
					<input type="text" name="lot" value="1"/>
					
					<p>Risk Percent</p>		
					<input type="text" name="risk" value="1" />
	
					<p>Contract Size</p>
					<input type="text" name="contract" value="1" />
	
					<p>Initial Balance</p>
					<input type="text" name="balance" value="1"/>
	
					<p>Leverage</p>
					<input type="text" name="leverage" value="1" />
	
					<p>Fee per Lot</p>
					<input type="text" name="fee" value="1" />
					<br>
					<div class="button">
						<button type="text" onclick="closeInput()">Batal</button>
						<button type="submit" onclick="closeInput()">Kirim</button>
					</div>
				</form>
			</div>
		</section>

		<section class="displayParam">
			<table >
				<tr>
					<th>Lot</th>
					<th>Risk (%)</th>
					<th>Contract Size</th>
					<th>Initial Balance</th>
					<th>Leverage</th>
					<th>Fee per Lot</th>
					
				</tr>

				<tr>
					<td>{{ lot }}</td>
					<td>{{ risk }}</td>
					<td>{{ contract }}</td>
					<td>{{ balance }}</td>
					<td>{{ leverage }}</td>
					<td>{{ fee }}</td>
				</tr>
			</table>
			<button onclick="openInput()" class="btnUbah">Ubah</button>
		</section><br>

		<h2>Status Stationary</h2>
		<section class="data">
				
		</section>
	</main>

	<script src="{{ 
		url_for('static', filename='js/main.js') 
	}}"></script>
</body>
</html>