<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

	<title>Flask Project UI</title>
</head>
<body>
	<header>
		<h1> DASHBOARD TRADING</h1>
	</header>
	<main>
		<h2>Parameter</h2>
		<section id='param'>
			<form action="/" method="POST">
				<label>Lot</label>
				<input type="text" name="lot" value="1" />
				
				<label>Risk Percent</label>		
				<input type="text" name="risk" value="2" />

				<label>Contract Size</label>
				<input type="text" name="contract"/>

				<label>Initial Balance</label>
				<input type="text" name="balance"/>

				<label>Leverage</label>
				<input type="text" name="leverage"/>

				<label>Fee per Lot</label>
				<input type="text" name="fee"/>
					
				<button>Kirim</button>
			</form>

		</section>

		<h2>Status Stationary</h2>
		<section id="data">
			
		</section>
	</main>

	<img src="http://127.0.0.1:5000/static/output/hasil_backtest.png" alt="grafik">

	<script src="{{ 
		url_for('static', filename='js/main.js') 
	}}"></script>
</body>
</html>